<div class="birthday-section event-sec">
  <img src="../../assets/images/event-bg.jpg" class="img-fluid blur-up lazyload bg-img"
       alt="birthday">
  <div class="birthday-top">
    <div class="title">
      <h3>interview session</h3>
      <h6>today starts your interview session</h6>
    </div>
    <div class="setting">
      <div class="setting-btn light-btn">

      </div>
      <div class="setting-btn light-btn ms-2 setting-dropdown">
        <div class="btn-group custom-dropdown arrow-none dropdown-sm">

          <div class="dropdown-menu dropdown-menu-right custom-dropdown">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="birthday-content">
    <div class="image-section">
      <div class="event-group">
        <div class="center-profile">
          <img src="../../assets/images/user-sm/3.jpg"
               class="img-fluid blur-up lazyload bg-img" alt="user">
        </div>

        <div class="center-profile">
          <img src="../../assets/images/user-sm/2.jpg"
               class="img-fluid blur-up lazyload bg-img" alt="user">
        </div>
        <div class="center-profile">
          <img src="../../assets/images/user-sm/1.jpg"
               class="img-fluid blur-up lazyload bg-img" alt="user">
        </div>
      </div>
    </div>
    <div class="details">
      <h3><i class="icon-light me-2 stroke-width-3 iw-12 ih-12" data-feather="user"></i>56
        candidates
      </h3>
      <h6>online, meets</h6>
      <p>Note 5th Sept 2025 as final deadline for resume submission
      </p>
      <form>
        <input type="text" placeholder="scheduling" class="form-control">
        <button type="submit">
          <i class="icon-light icon stroke-width-3 iw-13 ih-13"
             data-feather="arrow-right"></i>
        </button>
      </form>
    </div>
  </div>

</div>
