
  <!-- birthday reminder -->

  <!-- gallery section -->
  <div class="gallery-section section-t-space">
    <div class="gallery-top">
      <div class="card-title">
        <h3>Achievements</h3>
        <h5>15 awards</h5>
        <div class="settings">
          <div class="setting-btn">

          </div>
          <div class="setting-btn ms-2 setting-dropdown">
            <div class="btn-group custom-dropdown arrow-none dropdown-sm">

              <div class="dropdown-menu dropdown-menu-right custom-dropdown">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-section ratio_square">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-4">
            <div class="overlay">
              <div class="portfolio-image">
                <a href="javascript:void(0)" data-bs-toggle="modal"
                   data-bs-target="#imageModel">
                  <img src="../../assets/images/certifs/1.jpeg" alt=""
                       class="img-fluid blur-up lazyload bg-img">
                </a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="overlay">
              <div class="portfolio-image">
                <a href="javascript:void(0)" data-bs-toggle="modal"
                   data-bs-target="#imageModel">
                  <img src="../../assets/images/certifs/2.jpg" alt=""
                       class="img-fluid blur-up lazyload bg-img">
                </a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="overlay">
              <div class="portfolio-image">
                <a href="javascript:void(0)" data-bs-toggle="modal"
                   data-bs-target="#imageModel">
                  <img src="../../assets/images/certifs/3.png" alt=""
                       class="img-fluid blur-up lazyload bg-img">
                </a>
              </div>
            </div>
          </div>
          <div class="col-4 row m-0">
            <div class="col-12 pt-cls p-0">
              <div class="overlay">
                <div class="portfolio-image">
                  <a href="javascript:void(0)" data-bs-toggle="modal"
                     data-bs-target="#imageModel">
                    <img src="../../assets/images/certifs/4.jpg" alt=""
                         class="img-fluid blur-up lazyload bg-img">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 pt-cls p-0">
              <div class="overlay">
                <div class="portfolio-image">
                  <a href="javascript:void(0)" data-bs-toggle="modal"
                     data-bs-target="#imageModel">
                    <img src="../../assets/images/certifs/5.png" alt=""
                         class="img-fluid blur-up lazyload bg-img">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8 pt-cls">
            <div class="overlay">
              <div class="portfolio-image">
                <a href="javascript:void(0)" data-bs-toggle="modal"
                   data-bs-target="#imageModel">
                  <img src="../../assets/images/certifs/6.jpg" alt=""
                       class="img-fluid blur-up lazyload bg-img">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sticky-top">
    <!-- event -->
  </div>
