<br><!-- header start -->
<hr>
<button (click)="startRecording()" [disabled]="isRecording">Start Recording</button>
<button (click)="stopRecording()" [disabled]="!isRecording">Stop Recording</button>

<input type="text" [(ngModel)]="transcribedText" readonly />
<hr>
<header class="header-light">
  <div class="mobile-fix-menu"></div>
  <div class="container-fluid custom-padding">
    <div class="header-section">
      <div class="header-left">
        <div class="brand-logo">
          <a href="index.html">
          </a>
        </div>
        <div class="search-box">
          <i data-feather="search" class="icon iw-16 icon-light"></i>
          <input type="text" class="form-control search-type" placeholder="find jobs...">
          <div class="icon-close">
            <i data-feather="x" class="iw-16 icon-light"></i>
          </div>
          <div class="search-suggestion">
            <span class="recent">recent search</span>
            <ul class="friend-list">
              <li>
                <div class="media">
                  <img src="9.jpg" alt="user">
                  <div class="media-body">
                    <div>
                      <h5 class="mt-0">Paige Turner</h5>
                      <h6> 1 mutual connection</h6>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <img src="12.jpg" alt="user">
                  <div class="media-body">
                    <div>
                      <h5 class="mt-0">Paige Turner</h5>
                      <h6> 1 mutual connection</h6>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <img src="15.jpg" alt="user">
                  <div class="media-body">
                    <div>
                      <h5 class="mt-0">Paige Turner</h5>
                      <h6> 1 mutual connection</h6>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ul class="btn-group">
          <li class="header-btn home-btn">
            <a class="main-link">
              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="home" routerLink="/"></i>
            </a>
          </li>
          <li class="header-btn custom-dropdown dropdown-lg add-friend">
            <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="user-plus"></i>
            </a>
            <div class="dropdown-menu">
              <div class="dropdown-header">
                <span>Connection request</span>
                <div class="mobile-close">
                  <h5>close</h5>
                </div>
              </div>
              <div class="dropdown-content">
                <ul class="friend-list">
                  <li>
                    <div class="media">
                      <img src="1.jpg" alt="user">
                      <div class="media-body">
                        <div>
                          <h5 class="mt-0">Profile test3</h5>
                          <h6> 2 mutual connections</h6>
                        </div>
                      </div>
                    </div>
                    <div class="action-btns">
                      <button type="button" class="btn btn-solid">confirm</button>
                      <button type="button" class="btn btn-outline ms-1">decline</button>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img src="2.jpg" alt="user">
                      <div class="media-body">
                        <div>
                          <h5 class="mt-0">Profile test2</h5>
                          <h6> 1 mutual connection</h6>
                        </div>
                      </div>
                    </div>
                    <div class="action-btns">
                      <button type="button" class="btn btn-solid">confirm</button>
                      <button type="button" class="btn btn-outline ms-1">delete</button>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img src="3.jpg" alt="user">
                      <div class="media-body">
                        <div>
                          <h5 class="mt-0">Profile test1</h5>
                          <h6> no mutual connection</h6>
                        </div>
                      </div>
                    </div>
                    <div class="action-btns">
                      <button type="button" class="btn btn-solid">confirm</button>
                      <button type="button" class="btn btn-outline ms-1">delete</button>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="post-stats">
          <ul>
            <li>
              <h3>2</h3>
              <span>total posts</span>
            </li>
            <li>
              <h3>15</h3>
              <span>total connections</span>
            </li>
          </ul>
        </div>
        <ul class="option-list">
          <li class="header-btn custom-dropdown d-md-none d-block app-btn">
            <a class="main-link" href="javascript:void(0)">
              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="grid"></i>
            </a>
            <div class="overlay-bg app-overlay"></div>
            <div class="app-box">
              <div class="row">
                <div class="col-4">
                  <div class="app-icon">
                    <a href="index.html">
                      <div class="icon">
                        <i routerLink="/"></i>
                      </div>
                      <h5>Newsfeed</h5>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="app-icon">
                    <a href="single-page.html">
                      <div class="icon">
                        <i data-feather="star" class="bar-icon"></i>
                      </div>
                      <h5>favourite</h5>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="app-icon">
                    <a href="#">
                      <div class="icon">
                        <i data-feather="users" class="bar-icon"></i>
                      </div>
                      <h5>group</h5>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="app-icon">
                    <a href="music.html">
                      <div class="icon">
                        <i data-feather="headphones" class="bar-icon"></i>
                      </div>
                      <h5>music</h5>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="app-icon">
                    <a href="weather.html">
                      <div class="icon">
                        <i data-feather="cloud" class="bar-icon"></i>
                      </div>
                      <h5>weather</h5>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="app-icon">
                    <a href="event.html">
                      <div class="icon">
                        <i data-feather="calendar" class="bar-icon"></i>
                      </div>
                      <h5>calender</h5>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="app-icon">
                    <a href="#">
                      <div class="icon">
                        <svg class="bar-icon">
                          <use class="fill-color" xlink:href="">
                          </use>
                        </svg>
                      </div>
                      <h5>event</h5>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                  <div class="app-icon">
                    <a href="games.html">
                      <div class="icon">
                        <svg class="bar-icon">
                          <use class="fill-color" xlink:href="">
                          </use>
                        </svg>
                      </div>
                      <h5>games</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="header-btn custom-dropdown dropdown-lg btn-group notification-btn">
            <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="bell"></i><span
                class="count warning">2</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header">
                <span>Notification</span>
                <div class="mobile-close">
                  <h5>close</h5>
                </div>
              </div>
              <div class="dropdown-content">
                <ul class="friend-list">
                  <li class="d-block">
                    <div>
                      <div class="media">
                        <img src="5.jpg" alt="user">
                        <div class="media-body">
                          <div>
                            <h5 class="mt-0"><span>Paige Turner</span> sent you a
                              connection
                              request
                            </h5>
                            <h6> 1 mutual connection</h6>
                            <div class="action-btns">
                              <button type="button" class="btn btn-solid"><i data-feather="check"></i></button>
                              <button type="button" class="btn btn-solid ms-1"><i data-feather="x"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">
                      <div class="media">
                        <img src="6.jpg" alt="user">
                        <div class="media-body">
                          <div>
                            <h5 class="mt-0"><span>Bob Frapples</span> added a job post
                            </h5>
                            <h6>8 hours ago</h6>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="media">
                        <img src="7.jpg" alt="user">
                        <div class="media-body">
                          <div>
                            <h5 class="mt-0"><span>Candidate Test</span> have interview
                              process deadline today
                            </h5>
                            <h6>sun at 5.55 AM</h6>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="media">
                        <img src="2.jpg" alt="user">
                        <div class="media-body">
                          <div>
                            <h5 class="mt-0"><span>Petey Cruiser</span> added a new
                              job post
                            </h5>
                            <h6>sun at 5.40 AM</h6>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="header-btn custom-dropdown profile-btn btn-group">
            <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="icon-light stroke-width-3 d-sm-none d-block iw-16 ih-16" data-feather="user"></i>
              <div class="media d-none d-sm-flex">
                <div class="user-img">
                  <img src="2.jpg" class="img-fluid blur-up lazyload bg-img" alt="user">
                  <span class="available-stats online"></span>
                </div>
                <div class="media-body d-none d-md-block">
                  <h4>Candidate Test</h4>
                  <span>active now</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header">
                <span>profile</span>
                <div class="mobile-close">
                  <h5>close</h5>
                </div>
              </div>
              <div class="dropdown-content">
                <ul class="friend-list">
                  <li routerLink="/gallery">
                    <div class="media">
                      <i data-feather="user"></i>
                      <div class="media-body">
                        <div>
                          <h5 class="mt-0">Profile</h5>
                          <h6>Profile preview & settings</h6>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="settings.html">
                      <div class="media">
                        <i data-feather="settings"></i>
                        <div class="media-body">
                          <div>
                            <h5 class="mt-0">setting & privacy</h5>
                            <h6>all settings & privacy</h6>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>

                  <li>
                    <a href="login.html">
                      <div class="media">
                        <i data-feather="log-out"></i>
                        <div class="media-body">
                          <div>
                            <h5 class="mt-0">log out</h5>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- header end -->

<router-outlet></router-outlet>