<section class="setting-section section-pb-space section-pt-space">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="setting-sidebar">
          <div class="back-btn d-lg-none d-block">
            <i class="icon-theme"></i>
          </div>
          <div class="user-details">
            <div class="user-img">
              <img src="../assets/images/user/3.jpg" class="img-fluid bg-img" alt="">
            </div>
            <h5>Josephin water</h5>
            <h6>Josephin.wate.com</h6>
          </div>
          <div class="tab-section">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" href="#home" role="tab"> <i class="fas fa-home me-2"></i>Home</a>
              <a class="nav-link" href="#personal" role="tab"> <i class="fas fa-info me-2"></i>personal info</a>
              <a class="nav-link" href="#account" role="tab"> <i class="fas fa-user me-2"></i>account</a>
              <a class="nav-link" href="#privacy" role="tab"> <i class="fas fa-lock me-2"></i>privacy</a>
              <a class="nav-link" href="#notification" role="tab"> <i class="fas fa-bell me-2"></i>notification</a>
              <a class="nav-link" href="#story" role="tab"> <i class="fas fa-photo-video me-2"></i>story</a>
              <a class="nav-link" href="help-support.html"> <i class="fas fa-question-circle me-2"></i>help</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-lg-8">
        <div class="d-lg-none d-block text-right mb-3">
          <a href="#" class="btn btn-solid setting-menu">setting menu</a>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <!-- Add your tab panes and form content here, as per original template -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Note: All script tags, onclick attributes, and any inline JavaScript have been removed. -->
