
  <!-- profile box -->
  <div class="profile-box">
    <div class="profile-setting">
      <div class="setting-btn refresh">

      </div>
      <div class="setting-btn setting setting-dropdown">
        <div class="btn-group custom-dropdown arrow-none dropdown-sm">

        </div>
      </div>
    </div>
    <div class="profile-content">
      <a href="profile.html" class="image-section">
        <div class="profile-img">
          <div>
            <img src="../../assets/images/story/2.jpg"
                 class="img-fluid blur-up lazyload bg-img" alt="profile">
          </div>
          <span class="stats">
                                        <img src="../../assets/images/icon/verified.png"
                                             class="img-fluid blur-up lazyload" alt="verified">
                                    </span>
        </div>
      </a>
      <div class="profile-detail">
        <a href="profile.html">
          <h2>candidat test</h2>
        </a>
        <h5>candidat.test&#64;gmail.com</h5>
        <div class="description">
          <p>Developement engineer with 2 years of experience | Java | Angular
          </p>
        </div>
        <div class="counter-stats">
          <ul id="counter">
            <li>
              <h3 class="counter-value" data-count="2">0</h3>
              <h5>experiences</h5>
            </li>
            <li>
              <h3 class="counter-value" data-count="3">0</h3>
              <h5>languages</h5>
            </li>
            <li>
              <h3 class="counter-value" data-count="5">0</h3>
              <h5>projects</h5>
            </li>
          </ul>
        </div>
        <div class="btn btn-solid" data-bs-toggle="modal" data-bs-target="#editProfile">
          view
          profile

        </div>
      </div>
    </div>
  </div>

  <!-- suggestion box -->
  <div class="sticky-top">

  </div>
